<app-v-menu-bar></app-v-menu-bar>

<div class="container align-self-center" style="margin-top: 10px;">
    <div class="row" style="margin-left: 5px;">
        <div class="h3-responsive">
            <b class="font-weight-bold">Ecrivez nous pour tout soucis ou renseignement</b>
        </div><br />
    </div>
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2">


        <form id="contact-form" method="post" action="" role="form">

        <div class="messages"></div>

        <div class="controls">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_name">Nom *</label>
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Entrez votre nom *" required="required" data-error="Le nom ne doit pas etre vide.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_lastname">Prenom *</label>
                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Entrez votre prenom *" required="required" data-error="Le prenom ne doit pas etre vide.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_email">Email *</label>
                <input id="form_email" type="email" name="email" class="form-control" placeholder="Entrez votre email *" required="required" data-error="Entrez un email valide.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_phone">Contact</label>
                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Entrer votre numero de telephone">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_message">Message *</label>
                <textarea id="form_message" name="message" class="form-control" placeholder="Le Message *" rows="4" required data-error="S'il vous plait entrez un message."></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-blue btn-send" value="Envoyer">
            </div>
          </div>

        </div>

        </form>

      </div>

    </div>

  </div>    
