<app-v-menu-bar></app-v-menu-bar>

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">

            <table class="w-100">
                <tr>
                    <td width="40">
                        <a href="" class="btn btn-outline-pink disabled rounded-circle text-center z-depth-0 p-0 m-0" style="height: 40px; width: 40px; line-height: 40px;">
                            <b>1</b>
                        </a>
                    </td>
                    <td>
                        <div class="pb-1 grey lighten-3"></div>
                    </td>
                    <td width="40">
                        <a href="" class="btn btn-outline-green rounded-circle text-center z-depth-0 p-0 m-0" style="height: 40px; width: 40px; line-height: 40px;">
                            <b>2</b>
                        </a>
                    </td>
                </tr>
            </table>

            <div class="text-center">
                <i class="icofont-send-mail icofont-4x green-text"></i>

                <div class="h1-responsive">Mail envoyé</div>

                <b>Nous vous invitons à vérifier votre boite mail pour la suite de la procédure.</b>
            </div>

        </div>
    </div>
</div>