.gallery-house {
    height: 150px;
    overflow: hidden;
}

.side-map-right {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 70vh;
}

.search-maison-form {
    border-radius: 7px;
    overflow: hidden;
}

.search-maison-form input {
    padding: 10px 0;
    border: none;
    outline: none;
    font-weight: bold;
}

.search-maison-form button {
    padding: 10px 15px;
    border: none;
    outline: none;
}

.search-maison-form input::placeholder {
    font-weight: bold;
}

.search-maison-form-cover {
    border-radius: 7px;
    overflow: hidden;
}